<nav class="navbar">
    <!-- Logo à esquerda -->
    <div class="logo" routerLink="/">
        <span class="material-icons">time_to_leave</span>
        Infinity Auto
    </div>

    <!-- Botões centralizados -->
    <div class="nav-center">
        <div class="nav-btn" routerLink="/">
            <span class="material-icons">home</span>
            Home
        </div>
        <div class="nav-btn" routerLink="carros/login">
            <span class="material-icons">account_circle</span>
            Login
        </div>
        <div class="nav-btn" routerLink="ajuda">
            <span class="material-icons">help</span>
            Ajuda
        </div>
    </div>
</nav>


