@import '../carro-login/carro-login.component.css';

.link-voltar {
  color: #f00;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link-voltar:hover {
  color: #fff;
  text-decoration: underline;
}
